.accounts {
    // outline: solid green 1px;
    width: 100%;
    // max-width: 1200px;
    padding: $padding;
    @include flexCenter();

    @include mobileSize {
        flex-wrap: wrap;
    }

    .account-card {
        border-radius: $border-radius;
        position: relative;
        width: 100%;
        padding: 1.5em;
        text-align: center;
        background: var(--clr-Theme-card-bg);
        // this setts margin for the cards after the first card
        + .account-card {
            margin-left: 2em;

            @include mobileSize {
                margin: 2em 0 0 0;
            }
        }

        &__name--wrap {
            margin-top: 1em;
            @include flexCenter();

            .account-card__name {
                font-size: 1.2rem;
                margin-left: 0.5em;
            }
        }

        .followers {
            &__number {
                margin-top: 0.5em;
                font-size: 5rem;
                font-weight: 700;
                color: var(--clr-Theme-hightlight);
            }

            &__label {
                letter-spacing: 0.2em;
            }
        }

        .status {
            margin-top: 1.5em;
            margin-bottom: 1em;
            @include flexCenter();

            &__amount {
                margin-left: 0.25em;
                font-weight: 700;
                color: color(primary-1);
            }

            .negative {
                color: color(primary-2);
            }
        }

        &::before {
            content: "";
            width: 100%;
            height: 5px;
            position: absolute;
            top: 0;
            left: 0;

            border-radius: 999px 999px 0 0;
        }
    }

    .facebook-dashboard {
        &::before {
            background: #178ff5;
        }
    }

    .twitter-dashboard {
        &::before {
            background: #1da1f2;
        }
    }

    .instagram-dashboard {
        &::before {
            background: linear-gradient(to right, #fdc366, #ee877e, #df4896);
        }
    }

    .youtube-dashboard {
        &::before {
            background: #c4032b;
        }
    }
}
