.header {
    // outline: solid red 1px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $padding;

    .header__title {
        .title__h1 {
            color: var(--clr-Theme-hightlight);
            margin-bottom: 0.25em;

            @include mobileSize {
                font-size: 2.2rem;
            }
        }

        .title__small {
            font-weight: 700;
            font-size: 1.4rem;
        }
    }

    hr {
        opacity: 0.35;
        display: none;
        @include mobileSize {
            display: block;
            width: 100%;
            margin: 1em 0;
        }
    }

    @include mobileSize {
        flex-wrap: wrap;
    }

    .mode-toggle {
        width: max-content;
        display: flex;
        align-items: center;
        @include mobileSize {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }

        .mode-toggle__label {
            font-weight: 700;
            cursor: pointer;
        }

        #mode-btn {
            cursor: pointer;
            background: linear-gradient(
                to right,
                hsl(210, 78%, 56%),
                hsl(146, 68%, 55%)
            );
            border-radius: 999px;
            border: none;

            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 0 0 0.5em;
            padding: 0.15em;
            width: 45px;
        }

        #mode-btn.active {
            justify-content: flex-end;
            background: rgb(201, 201, 201);
        }

        .circle {
            height: 18px;
            width: 18px;
            border-radius: 999px;
            background: var(--clr-Theme-bg);
        }
    }
}
