:root {
    --clr-Theme-bg: hsl(230, 17%, 14%);
    --clr-Theme-top-bg-pattern: hsl(232, 19%, 15%);
    --clr-Theme-card-bg: hsl(228, 28%, 20%);
    --clr-Theme-card-bg-hover: hsl(230, 25%, 30%);
    --clr-Theme-text: hsl(228, 34%, 66%);
    --clr-Theme-hightlight: hsl(0, 0%, 100%);
}

.lightTheme {
    --clr-Theme-bg: hsl(0, 0%, 100%);
    --clr-Theme-top-bg-pattern: hsl(225, 100%, 98%);
    --clr-Theme-card-bg: hsl(227, 47%, 96%);
    --clr-Theme-card-bg-hover: hsl(226, 44%, 90%);
    --clr-Theme-text: hsl(228, 12%, 44%);
    --clr-Theme-hightlight: hsl(230, 17%, 14%);
}

$colors: (
    primary-1: hsl(163, 72%, 41%),
    primary-2: hsl(356, 69%, 56%),
);

$padding: 1.5em;
$border-radius: 5px;

@function color($color-name) {
    @return map-get($colors, $color-name);
}

@mixin flexCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin mobileSize {
    @media only screen and (max-width: 850px) {
        @content;
    }
}
