$colors: (
    primary-1: hsl(163, 72%, 41%),
    primary-2: hsl(356, 69%, 56%),
);

$darkTheme: (
    darkTheme-bg: hsl(230, 17%, 14%),
    darkTheme-top-bg-pattern: hsl(232, 19%, 15%),
    darkTheme-card-bg: hsl(228, 28%, 20%),
    darkTheme-text: hsl(228, 34%, 66%),
    darkTheme-White: hsl(0, 0%, 100%),
);

$lightTheme: (
    lightTheme-bg: hsl(0, 0%, 100%),
    lightTheme-top-bg-pattern: hsl(225, 100%, 98%),
    lightTheme-card-bg: hsl(227, 47%, 96%),
    lightTheme-text: hsl(228, 12%, 44%),
    lightTheme-dark-blue: hsl(230, 17%, 14%),
);

@function color($color-group, $color-name) {
    @return map-get($color-group, $color-name);
}

@mixin flexCenter($direction: row) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $direction;
}

@mixin desktopSize {
    @media only screen and (min-width: 850px) {
        @content;
    }
}
